/* This is where styles are defined for your page. */
/* One style is provided as example. */

h1, h2, h3, h4, h5, h6 {
    font-family: Ariel, Helvetica, sans-sarif
}

header {
    margin:3rem 1rem;
}

header h1 {
    margin-bottom: 0;
}


header p {
    margin-top: 0;
}

aside { 
    max-width:756px;
    width: 50%;
    padding: 1rem;
}

element.style {
}
aside img {
    width: 160px;
    height: auto;
    float: right;
    margin: 10px
}

section {
    clear:both 
}

ul.poem{
    list-style-type:none; 
    text-align: justify;
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom:3rem;
    line-height: 1.5;
    font-size: 1.2rem;
    background-image: url(images/hard-paper-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header ::first-letter {
    font-size: 150%;
    color: black;
    font-style: italic; 
}

ul.poem ::first-letter {
    font-size: 110%;
    color: black;
    font-style: italic; 
}
.content-footer {
  
}

.page-footer{
    border-top:2px rgba(0, 0, 0, 0.6) solid;
    padding-top: 2rem;
    color:white;
    list-style-type:none;
}

html {
    background-image: url(images/hiking-the-sand-dunes.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
}

.info-links {
    color:black
}
.info-links a:link{
    color:black
}

.social-links {
    color:black
}
.social-links a:link{
    color:black
}
.citation a:link {
    color:white
}
.citation {
    color:white
}
